@charset "UTF-8";
@font-face {
  font-family: "jeux";
  src: url(../css/LoveGlitchPersonalUseRegular-vmEyA.ttf);
}
body {
  margin: 0;
  font-family: "jeux";
  background: url(../../public/img/fond.webp);
  background-repeat: no-repeat;
  background-size: 100%;
}

#total {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

#titre {
  -webkit-animation: titre 0.5s alternate infinite;
          animation: titre 0.5s alternate infinite;
}

@-webkit-keyframes titre {
  0% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes titre {
  0% {
    transform: translateY(16px);
  }
  100% {
    transform: translateY(0);
  }
}
#acceuil {
  margin-top: 30px;
  position: relative;
  padding-inline: 50px;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  letter-spacing: 7px;
  color: white;
  border: 10px inset rgba(142, 40, 189, 0.85);
  border-radius: 0px 40px 0px 40px;
  text-shadow: 5px 5px 3px blue;
}
#acceuil li {
  margin-top: 100px;
  font-size: 27px;
}
#acceuil li:first-child {
  font-size: 45px;
}

#niveau {
  width: 1000px;
  height: 550px;
  text-align: center;
  transition: 0.8s ease-in-out;
}
#niveau h2 {
  font-size: 40px;
  font-weight: 300;
}

.contenuNiveau {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  margin-top: 100px;
}
.contenuNiveau #faci {
  background: url(../../public/img/Capture\ d’écran\ 2023-01-21\ 195931.png) no-repeat;
  background-size: 100%;
  width: 400px;
  height: 300px;
  transition: 0.3s;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  filter: brightness(50%);
}
.contenuNiveau #faci:hover {
  filter: unset;
  transform: scale(2);
}
.contenuNiveau #diff {
  background: url(../../public/img/DIFFICILE.png) no-repeat;
  background-size: 100%;
  width: 400px;
  height: 300px;
  transition: 0.3s;
  filter: brightness(50%);
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
}
.contenuNiveau #diff:hover {
  filter: unset;
  transform: scale(2);
}

.point {
  transform: translateY(0) !important;
  transition: 0.4s ease-in-out;
}

#point {
  width: 90%;
  padding-block: 10px;
  background-color: rgba(255, 255, 255, 0.56);
  position: absolute;
  left: 2%;
  padding-inline: 50px;
  font-size: 35px;
  top: 0;
  transition: 0.8s ease-in-out;
  transform: translateY(-100%);
  font-family: "Courier New", Courier, monospace;
}
#point ul {
  display: flex;
  justify-content: space-between;
}
#point #Times {
  padding-top: 10px;
  text-align: center;
}

#facile {
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 20%;
  left: 33%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 150px;
  height: 100px;
}

.scaleFini {
  transform: scaleX(1) !important;
}

#fini {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 99999999999999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  transform: scaleX(0);
}
#fini li {
  text-align: center;
  margin-top: 30px;
}
#fini li button {
  background-color: unset;
  border: 1px solid dashed;
  border-radius: 20px 0 20px 0;
  padding: 15px;
  transition: 0.2s;
}
#fini li button:hover {
  background-color: black;
  color: white;
}

.perdu {
  transform: scaleY(1) !important;
}

#perdu {
  transition: 0.4s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
  background-color: red;
  transform: scaleY(0);
}

#terrain {
  background-color: rgba(255, 255, 255, 0.082);
  box-shadow: 10px 12px 10px rgba(0, 0, 0, 0.205), 10px 12px 10px rgba(0, 0, 0, 0.205);
  height: 500px;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
}

.scaleFini2 {
  transform: scaleY(1) !important;
}

#fini2 {
  width: 100%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: rgb(0, 166, 255);
  transform: scaleY(0);
  transition: 1s;
}
#fini2 li {
  margin-top: 30px;
  text-align: center;
}
#fini2 li button {
  transition: 0.2s;
  font-size: 18px;
  border: none;
  background-color: transparent;
  border-radius: 20px 50px 20px 50px;
  padding: 15px;
}
#fini2 li button:hover {
  background-color: rgb(0, 166, 255);
  border: none;
  color: white;
}

.perdu2 {
  transform: scaleY(1) !important;
}

#perdu2 {
  transition: 0.4s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-align: center;
  background-color: red;
  transform: scaleY(0);
}

#terrain2 {
  margin-top: 150px;
  background-color: rgba(255, 255, 255, 0.631);
  height: 400px;
  width: 450px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 200px;
}
#terrain2 #cards .card {
  flex-direction: column;
  justify-content: unset;
  display: flex;
  align-items: unset;
  justify-content: unset;
  margin: 5px;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  height: calc(35% - 10px);
  width: calc(25% - 10px);
}
#terrain2 #cards .card .view {
  border-radius: 50%;
  background-color: rgba(117, 222, 196, 0.883);
}

#cards {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  perspective: 800px;
  transform-style: preserve-3d;
  height: calc(25% - 10px);
  width: calc(25% - 10px);
}
#cards .card .view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  background-color: rgba(175, 158, 158, 0.011);
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.12);
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
#cards .card .face {
  font-size: 25px;
  transition: transform 0.25s linear;
  opacity: 1;
}
#cards .card .dos {
  background-color: rgba(255, 255, 255, 0);
  opacity: 0;
  transform: rotateY(-180deg);
  transition: transform 0.25s linear;
}
#cards .card .dos img {
  max-width: 45px;
}

#cards .card.flip .face {
  transform: rotateY(180deg);
  opacity: 0;
}

#cards .card.flip .dos {
  opacity: 1;
  transform: rotateY(0);
}

#cards .card .dos.rouge {
  background-color: red;
}

#cards .card .dos.vert {
  background-color: rgb(8, 138, 8);
}

#cards .card.tourner {
  -webkit-animation: tourner 1s ease-in-out;
          animation: tourner 1s ease-in-out;
}

@-webkit-keyframes tourner {
  0%, 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(0.7);
  }
  40% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.2);
  }
  60% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(0.3);
  }
  80% {
    transform: scale(0.5);
  }
  90% {
    transform: scale(0.7);
  }
}

@keyframes tourner {
  0%, 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(0.7);
  }
  40% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.2);
  }
  60% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(0.3);
  }
  80% {
    transform: scale(0.5);
  }
  90% {
    transform: scale(0.7);
  }
}
.su {
  color: red;
}

.fantasy {
  -webkit-animation: fantasy ease-in-out 4.5s infinite;
          animation: fantasy ease-in-out 4.5s infinite;
}

.fantasyBack {
  background: url(../../public/img/fantasy.jpg) no-repeat;
  background-size: cover;
}

@-webkit-keyframes fantasy {
  0% {
    background-color: rgba(145, 74, 7, 0.649);
  }
  50% {
    background-color: rgba(49, 187, 246, 0.599);
  }
  100% {
    background-color: rgba(10, 95, 10, 0.633);
  }
}

@keyframes fantasy {
  0% {
    background-color: rgba(145, 74, 7, 0.649);
  }
  50% {
    background-color: rgba(49, 187, 246, 0.599);
  }
  100% {
    background-color: rgba(10, 95, 10, 0.633);
  }
}
.horror {
  -webkit-animation: horror 1s ease-in-out infinite;
          animation: horror 1s ease-in-out infinite;
}

@-webkit-keyframes horror {
  0% {
    background: url(../../public/img/35.jpg) no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../../public/img/3596.jpg) no-repeat;
    background-size: cover;
  }
  100% {
    background: url(../../public/img/456839.jpg) no-repeat;
    background-size: cover;
  }
}

@keyframes horror {
  0% {
    background: url(../../public/img/35.jpg) no-repeat;
    background-size: cover;
  }
  50% {
    background: url(../../public/img/3596.jpg) no-repeat;
    background-size: cover;
  }
  100% {
    background: url(../../public/img/456839.jpg) no-repeat;
    background-size: cover;
  }
}
.ouvrir {
  transform: translateX(0%) !important;
  transition: 0.8s ease-in-out;
}

.fermer {
  transform: translateX(-250%);
  transition: 0.8s ease-in-out;
}

.position {
  position: absolute;
  top: 100px;
}

.position2 {
  position: absolute;
  left: 35%;
  top: 70px;
}

.position3 {
  position: absolute;
  top: 150px;
  left: 33%;
}